<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/core.css' />
  <link rel='stylesheet' href='/stylesheets/cards.css' />
  <link rel='stylesheet' href='/stylesheets/buttons.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    
    
    form{
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 300px;
    }
    
    form>input{
      padding: var(--padding);
      border-radius: var(--radius);
      border: 1px solid rgba(0,0,0,0.2);
    }
    
    form span{
      font-size: 0.8rem;
    }
    
    form span a{
      color: blue;
      text-decoration: none;
    }
    .message{
      position:absolute;
      top:0px;
      padding: var(--padding);
      border:2px solid var(--color-white);
      z-index: 10;
      border-radius: var(--radius);
      box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }


    
  </style>
</head>
<body>
  <div class="container center">
    <div id="message" class="message hidden"></div>
    <div class="card">
      <div class="card-header">
        <h4>Login</h4>
      </div>
      <div class="card-body">
        <form>
          <label for="username">Username</label>
          <input id="email" type="text"/>
          <label for="password">Password</label>
          <input id="password" type="password" value="asd12345"/>
          
          <button id="login" class="button primary" type="button">Login</button>
          <span>Forgot <a href="/forgot">username/password.?</a></span>
          <span>Don't have an account <a href="/signup">Sign up.</a></span>
        </form>
        
      </div>
    </div>
  </div>
</body>
<script src="/javascripts/tools.js"></script>
<script src="/javascripts/login.js"></script>
</html>


